<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- OAuthUrl is the url used to get your access token -->
    <add key="OAuthUrl" value="https://app.getflipdish.com/identity/connect/"/>
    <!-- OAuthClientId is the app id located in your Flipdish Developer Portal Dashboard -->
    <add key="OAuthClientId" value="[ENTER YOUR CLIENT ID HERE]"/>
    <!-- OAuthSecretKey is the secret key located in your Flipdish Developer Portal Dashboard (click reveal secret key) -->
    <add key="OAuthSecretKey" value="[ENTER YOUR SECRET KEY HERE]"/>
  </appSettings>
</configuration>